{% load static  %}
 <link rel="stylesheet" href="{%static "/blogpost/app.css" %}"/>
<!DOCTYPE html>
<html lang="en">
    <header id="main-navigation">
        <a href="{% url "index" %}">BlogPost</a>
        <nav>  
            <a href="{% url "read-later" %}">Saved Posts</a>   
            <a href="{% url "all_posts" %}">All Posts</a>
        </nav>
    </header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
   
    {% block css_files %}{% endblock  %}
</head>

<body>
   {% block content %}
   {% endblock  %} 
</body>
</html>